<h1>Listing posts</h1>



<% for post in @posts %>
  <%= render :partial=>'mini', :locals=>{:post=>post} %>
<% end %>


<br />
<% if @folder %>
  <% path = new_folder_post_path(@folder) %>
<% elsif @category %>
  <% path = new_category_post_path(@category)  %>
<% else %>
  <% path = new_post_path %>
<% end %>
<%= link_to 'New post', path %>