<h1>Listing categories</h1>

<div class="mini header">
    <span class="col">Parent</span>
    <span class="col">Name</span>
    <span class="controls">Controls</span>
</div>
<% for category in @categories %>
      <%= render :partial=>'mini', :locals=>{:category=>category} %>
<% end %>


<br />

<%= link_to 'New category', new_category_path %>
